


/* --------------------------------------- *\
  #Project Settings
\* --------------------------------------- */

$primary-colour: hsl(210, 100%, 31%); //0051a0 – Dark Blue
$secondary-colour: hsl(196, 100%, 47%); //#00AEEF – Light blue

$title-font: sans-serif;
$body-font: $title-font;