


/* --------------------------------------- *\
  #Quick fixes (Tidy later)
\* --------------------------------------- */

h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: $primary-colour;
}