


/* --------------------------------------- *\
  #Buttons
\* --------------------------------------- */

.btn {
  display: inline-block;
  background: $primary-colour;
  text-transform: uppercase;
  text-align: center;
  height: 60px;
  line-height: 46px;
  color: $white;
  font-size: 13px;
  padding: 10px 20px;
  border-box: border-box;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    text-decoration: underline;
  }
}

.btn--back {
  width: 100%;
  margin: 20px 0 0;
}

.btn--add {
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  background: $secondary-colour;
}