


/* --------------------------------------- *\
  #Icons
\* --------------------------------------- */

.category__link,
.item__link {
  width: 25%;
  display: inline-block;
  float: left;
  margin-bottom: 10px;

  &:hover {
    text-decoration: none;
  }

  @include min-width($small-break) {
    margin-bottom: 30px;
  }
  @include min-width($small-break) {
    width: 12.5%;
  }
}

  .icon {
    display: block;
    margin: 10px auto;
    width: 60px;
    height: 60px;
    fill: currentColor;
    background: $white;
    border-radius: 50%;

    @include min-width($medium-break) {
      width: 100px;
      height: 100px;
    }
    &.active {
      background: $success-colour;
      fill: $white;
    }
  }
  .item__icon {
    border-radius: 5px;
  }

  .need__link {
    display: block;
    width: 100%;
    box-sizing: border-box;
    line-height: 80px;
    background: $off-white;
    margin: 4px 0;

    @include clearfix();

    &:hover {
      text-decoration: none;
    }

    &.remove {
      opacity: 0;
      transform: scale3d(0.8, 0.8, 1);

      transition: opacity 0.2s, transform 0.2s;
    }
  }

  .icon--need {
    margin: 10px;
    float: left;
    border-radius: 5px;
    background: $success-colour;
    fill: $white;

    @include min-width($medium-break) {
      width: 60px;
      height: 60px;
    }
  }
  .need__info {
    position: relative;
  }
    .need__title {
      font-size: 20px;
      color: $success-colour;
    }
    .need_check {
      display: block;
      width: 50px;
      height: 50px;
      background: $white;
      border: 1px solid $grey;
      position: absolute;
      right: 15px;
      top: 15px;
    }

  .category__title,
  .item__title {
    text-align: center;
    display: block;
  }