<h1><%= @shopping_list.title %></h1>


<ul class="shopping_items">
  <% @shopping_list.shopping_items.each do |todo_item| %>
    <li><%= todo_item.content %></li>
  <% end %>
</ul>


<p>
  <%= link_to "New Shopping Item", new_shopping_list_shopping_item_path %>
</p>